@{
    Layout = "_layoutAdmin";
}

<h1>ini halaman age chart</h1>

@*<head>
    <title>Pie Chart Example with AJAX</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>*@
<body>
    <div style="width: 500px">
        <canvas id="myChart2"></canvas>
    </div>

</body>
