@{
    Layout = "_layoutAdmin";
}





<head>
    <title>Pie Chart Example with AJAX</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="row">
        <div class="col">
            <h1>Gender chart</h1>
            <div style="width: 300px">
                <canvas id="myChart1"></canvas>
            </div>
        </div>
        <div class="col">
            <h1>Age chart</h1>
            <div style="width: 500px">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
    
</body>