@{
    Layout = "_layoutBaru";
}



<div class="header">
    <h1>Hello World</h1>
</div>
<div class="container">
    <div class="row">
        <div id="konten1" class="col">
            Lorem ipsum is a placeholder text commonly used in publishing and graphic design to demonstrate the visual form of a document or a typeface without relying on meaningful content1234. It is essentially nonsense text that still gives an idea of what real words will look like in the final product3. The phrase "lorem ipsum" derives from the Latin phrase "dolorem ipsum," which translates to "pain itself"
        </div>

        <div class="col">
            <div class="row" id="konten2">
                <div class="col">
                    Lorem ipsum is a placeholder text commonly used in publishing and graphic design to demonstrate the visual form of a document or a typeface without relying on meaningful content1234. It is essentially nonsense text that still gives an idea of what real words will look like in the final product3. The phrase "lorem ipsum" derives from the Latin phrase "dolorem ipsum," which translates to "pain itself"

                </div>
            </div>
            <div class="row" id="konten3">
                <div class="col">
                    Lorem ipsum is a placeholder text commonly used in publishing and graphic design to demonstrate the visual form of a document or a typeface without relying on meaningful content1234. It is essentially nonsense text that still gives an idea of what real words will look like in the final product3. The phrase "lorem ipsum" derives from the Latin phrase "dolorem ipsum," which translates to "pain itself"

                </div>
            </div>
        </div>

        
        
    </div>
    
</div>

<div class="tombol">
    <button id="b1" class="btn btn-primary">Blue</button>
    <button id="b2" class="btn btn-danger">Red</button>
    <button id="b3" class="btn btn-success">Green</button>
</div>